@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; 
}
*/

.poppins {
  font-family: var(--font-poppins);
}
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.swiper {
  /* width: 100%; */
  /* width: fit-content; */
  height: 100%;
  /* border: 1px solid red */
  display: flex;
  /* background-color: #6b21a8; */
}

.mySwiper .swiper-slide {
  width: auto !important;
  display: inline-block;
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
  /* background-color: #6b21a8; */
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 30px;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: rgb(197, 197, 197);
  /* outline: 1px solid rgb(255, 255, 255); */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(109, 109, 109);
  /* outline: 1px solid rgb(0, 0, 0); */
  border-radius: 100vh;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}
